@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

body {
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(180deg, #000b0c 4.28%, #002023 6.69%, #002023);
}

img {
  border: 0;
}

:root {
  --space-0: 0;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 20px;
  --space-5: 32px;
  --space-6: 52px;
  --space-7: 84px;
  --space-8: 136px;
  --space-9: 220px;

  --font-family-sans: Inter;
  --font-family-serif: PT Serif;
  --font-family-mono: IMB Plex Mono;

  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 18px;
  --font-size-4: 20px;
  --font-size-5: 24px;
  --font-size-6: 30px;
  --font-size-7: 36px;
  --font-size-8: 48px;
  --font-size-9: 60px;
  --font-size-10: 72px;

  --line-height-0: 16px;
  --line-height-1: 20px;
  --line-height-2: 24px;
  --line-height-3: 28px;
  --line-height-4: 28px;
  --line-height-5: 32px;
  --line-height-6: 36px;
  --line-height-7: 40px;
  --line-height-8: 48px;
  --line-height-9: 60px;
  --line-height-10: 72px;
  --line-height-11: 96px;
  --line-height-12: 128px;

  --white: #fff;
  --black: #101112;
  --gray-200: #ced2d9;
  --gray-600: #6e7683;
  --blue-600: #1e61cd;
  --magenta-100: #f9d7eb;

  --max-width-0: 320px;
  --max-width-1: 768px;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family-sans);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.creando {
  margin-top: 1rem;
}

@media (min-width: 400px) {
  .creando {
    margin-top: 2.8rem;
  }
}
@media (min-width: 768px) {
  .creando {
    margin-top: 2rem;
  }
}

@media (min-width: 1024px) {
  .creando {
    margin-top: 0;
  }
}

.swiper-pagination-bullet-active {
  background: white !important;
  margin-top: 5rem;
}

.tab {
  border: none;
  background-color: transparent;
  color: #84f3ff !important;
}

.tabs {
  border-bottom: 1px #84f3ff solid;
}

.bg-foreground {
  height: 3px;
  bottom: -4.2px;
  background-color: #84f3ff;
}

.group[data-selected='true'] .group-data-\[selected\=true\]\:text-foreground {
  color: #84f3ff !important;
}

.experiences {
  background: linear-gradient(
    331deg,
    #4dd9e6 -86.29%,
    #4dd9e6 -86.27%,
    #001c3a 97.6%
  );
}

.dust {
  background-image: url('../assets/bg_reloj_arena.png');
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.skills {
  display: flex;
  width: 100%;
  padding: 84px 32px 64px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  border-radius: 200px 200px 0px 0px;
  background: linear-gradient(148deg, #ffe083 19.29%, #e8c349 126.15%);
}

@media (min-width: 1024px) { 
  .skills {
    border-radius: 65% 65% 0px 0px;
  }
}

.image-container {
    transition: transform 0.5s ease; /* Ajusta la duración y la función de aceleración según tus preferencias */
}

.image-container:hover {
  transform: scale(0.9); /* Ajusta el valor de escala según tus preferencias */
}

.progressBarContainer {
  grid-area: slider;
  text-align: center;
  margin-top: 1px;
  padding: 1px;
  font-size: 0.5em;
}

.progressBar {
  width: 80%;
  cursor: pointer;
  height: 1px;
  color: rgb(0, 0, 0, 1);
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}