@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

body {
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(180deg, #000b0c 4.28%, #002023 6.69%, #002023);
}

img {
  border: 0;
}

:root {
  --font-family-sans: Inter;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family-sans);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
